@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}
body.coral-mode {
  --r: 30px; /* radius */
  --s: 50px; /* size of the inner curve*/
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%) no-repeat;
  --theme-color1: #7214FF;
  --theme-color2: #0E0B3D;
  --theme-color3: #005DFF;
  --theme-color4: #E5E7FE;
  --theme-color1-rgb: 114, 20, 255;
  --theme-color2-rgb: 14, 11, 61;
  --theme-color3-rgb: 0, 93, 255;
  --theme-color4-rgb: 229, 231, 254;
  --theme-color1-text-color: #ffffff;
  --theme-color2-text-color: #ffffff;
  --theme-color3-text-color: #ffffff;
  --theme-color4-text-color: #ffffff;
  --h3-font-size: 30px;
  --body-bg: #ffffff;
  --gradient-1: linear-gradient(180deg, #F0F6FF 0%, #F7FCFC 100%);
  --gradient-2: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  --headings-color: #0E0B3D;
  --text-color: #696969;
}

.line-shape-animation {
  max-width: 1778px;
}